# Change the filename to secrets.sh

#Minecraft
export MINECRAFT_PORT="25565"

#Velocity
export VELOCITY_FORWARDING_SECRET="[secret]"

#Discord
export DISCORD_BOT_TOKEN="[token]"
export DISCORD_CHANNEL_ID="[id]"

#Bluemap (SQL must be postgresql)
export BLUEMAP_PORT="8100"
export BLUEMAP_SQL_CONNECTION_URL="jdbc:postgresql://localhost:5432/bluemap"
export BLUEMAP_SQL_USER="userName"
export BLUEMAP_SQL_PASSWORD="passWord"
